<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Dashboard</a>

        <a class="navbar-brand" href="#">Login Time:</a>
    </div>
</nav>


    <div class="jumbotron">
            <div class="container">
                <div class="col-sm-8 col-sm-offset-2">

                    
<div class="col-md-8 col-sm-offset-3">
   
    <h3>Hi {{currentUser.firstName}}!</h3>
    <p>Welcome to our application</p>

    <p>Your Password :  {{currentUser.password}}!</p>

    <div class="card" style="width: 28rem;">
            <div class="card-body">
              <h5 class="card-title">All registered users:</h5>
              <ul>
                    <li *ngFor="let user of users">
                        Username: {{user.username}} (Password: {{user.password}})
                        <a (click)="deleteUser(user.id)">Delete</a>
                    </li>
                </ul>
            </div>
          </div>

    <p><a [routerLink]="['/login']">Logout</a></p>
</div>


<div>
        <p>Today is {{today | date}}</p>
        <p>Or if you prefer, {{today | date:'fullDate'}}</p>
        <p>The time is {{today | date:'h:mm a z'}}</p>
      </div>

      
</div></div></div>